{% extends 'temp/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="container" style="margin-bottom:80px">
	<div class="row">
		<div class="col-md-6">
			<p><h4><span class="badge badge-pill badge-danger">{{title}}</span></h4></p>
			<hr>
			<p style="margin-top:60px"><span class="badge badge-pill badge-danger">Event Title :</span>   {{event.title|title}}<hr>
			</p>
			<p><span class="badge badge-pill badge-danger">Date :</span> {{event.event_date}}<hr></p>
			<p><span class="badge badge-pill badge-danger">Time :</span> {{event.event_time}}<hr></p>
			<p><span class="badge badge-pill badge-danger">Event description :</span><hr>
			  {{event.description|title}}
		    </p>
	    </div>
	</div>
</div>
{% endblock %}
